body {
    height: 100vh;
    display: grid;
    /* 1fr tamaño restante */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
}

header {
    grid-area: header;
    color: white;
    background-color: black;
}

nav{
    grid-area: nav;
    background-color: #e9ecef;
}

main {
    grid-area: main;
    background-color: #ffffff;

}

footer {
    grid-area: footer;
    color: white;
    background-color: #000000;
}